extends layout
-var json = !{JSON.stringify(datajson)};
block content
    section#me
      .overlay
        .container
          .row
            .col-xs-12.intro-wrap
              .intro
                //img.img-responsive.my-image(src='images/me/#{json.me.image}', alt='Rushabh Padalia')
                .my-info
                  h4
                    | #{json.me.my_intro}
                  .tagline
                    h4
                      | #{json.me.tag_line}
                      a(href='#{json.me.creativezombies.web}', target='_blank' )  #{json.me.creativezombies.name} 
    section#projects
      .container
        .center
          h2 #{json.projects.heading}
          p.lead #{json.projects.lead}
          a.github-button(href='https://github.com/padaliarushabh', data-style='mega') Follow @padaliarushabh
        .row
          .project-gallery
            each project in json.projects.projects
              .col-sm-6.col-md-6.col-lg-4
                .box
                  .pull-left
                    img.img-responsive.img-projects-type(src='images/projects/type/#{project.type_img}', alt='')
                  .projects-body
                    h3.projects-heading #{project.heading}
                  img.img-responsive.img-projects(src='images/projects/#{project.project_img}', alt='')
                  p.projects-desc
                    |  #{project.desc}
                  
                    -var hasViews = project.views.length
                    if hasViews !=0
                      .projects-view
                        each view in project.views
                          each val, index in view
                            a(href='#{val}', target='_blank')
                              i(class='fa #{index}')
                    else   
                      .empty-view-project

    section#contact
      .overlay
        .container
          .row
            .center
              h2 #{json.contacts.heading}
              p.lead
                | #{json.contacts.lead}
                
              -var counter = 0
              each view in json.contacts.views
                -var internal_counter = 0
                -var key = Object.keys(view)
                  if counter == 0
                    a.contact(href='#{view[key[0]]}', target='_blank', data-toggle='tooltip', title='#{view.social_name}', data-placement='left')
                      i(class="fa #{key[0]}")
                  else if counter == json.contacts.views.length - 1
                    a.contact(href='#{view[key[0]]}', target='_blank', data-toggle='tooltip', title='#{view.social_name}', data-placement='right')
                      i(class="fa #{key[0]}")      
                  else
                    a.contact(href='#{view[key[0]]}', target='_blank' , data-toggle='tooltip', title='#{view.social_name}', data-placement='bottom')
                      i(class="fa #{key[0]}")
                  -counter = counter + 1
                  

            .col-xs-12
              .contact-box
                form.form-horizontal(role='form', id="message_form")
                  #group-name.form-group
                    .col-sm-12
                      input.form-control.form-footer(type='text', placeholder='Name', id='name')
                  #group-email.form-group
                    .col-sm-12
                      input.form-control.form-footer(type='email', placeholder='Email', id='email')
                  #group-message.form-group
                    .col-sm-12
                      textarea.form-control.form-footer(rows='3', placeholder='Message', id='message')
                  .form-group
                    .col-sm-12
                      button.btn.btn-lg.btn-message(id='send_message') Send Message
              div(class="result")
                   
              
    section#dad
      .container
        .center
          h2 #{json.dad.heading}
          p.lead #{json.dad.lead}
          button#dad-website-btn.btn.btn-lg.btn-warning Dad's Website
    section#resume
      .overlay
        .container
          .center
            h2 #{json.resume.heading}
            p.lead #{json.resume.lead}
            img.img-responsive(src='images/resume/#{json.resume.img}', alt='Rushabh Padalia')
          .row
            .col-xs-12.center
              button#resume-pdf-btn.flat PDF Format
              button#resume-html-btn.flat HTML Format
              button#resume-doc-btn.flat Doc Format
